/* ----------------------------------- global -----------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fdfcf8;
}

body {
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    font-size: 14px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #900b09;
    background: transparent;
    border-bottom: 1px solid #900b09;
}

a:hover {
    text-decoration: none;
    color: #ff0000;
    background: transparent;
    border-bottom: 1px solid #ff0000;
}

a:active {
    text-decoration: none;
    color: #ff0000;
    background: transparent;
}


/* ----------------------------------- wrapper -----------------------------------*/


/*设置页面边框图片居中*/

div#wrapper {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 1239px;
    text-align: left;
    background: transparent url(ui2017/wrapper.png) top left repeat-y;
}


/* ----------------------------------- header -----------------------------------*/


/*设置logo*/

div#header {
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    width: 1210px;
    height: 100px;
    background-color: #fdfcf8;
}

div#header a#logo {
    margin: 0;
    padding: 0;
    border: 0;
}

div#header a#logo {
    text-indent: -9999px;
    overflow: hidden;
    float: left;
}

div#header a#logo:link,
div#header a#logo:visited {
    display: block;
    width: 372px;
    height: 90px;
    background: transparent url(ui2019/bg.png) 0 -150px no-repeat;
}

div#header a#logo:hover {
    background: transparent url(ui2019/bg.png) 0 -250px no-repeat;
}


/* ----------------------------------- navfirst -----------------------------------*/

div#navfirst {
    height: 48px;
    width: 1210px;
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    background: #E8E7E3;
}

div#navfirst ul#menu {
    height: 48px;
    width: 1210px;
    margin: 0;
    padding: 0;
    position: relative;
}

div#navfirst ul#menu li {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    position: absolute;
    top: 0;
}

ul#menu li,
ul#menu a {
    display: block;
    height: 48px;
    border-bottom: 0;
}

div#navfirst ul#menu li a {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
}

div#navfirst ul#menu {
    background: transparent url(ui2019/bg.png) top left no-repeat;
}

#h {
    width: 166px;
    left: 0px;
}

#b {
    width: 191px;
    left: 166px;
}

#s {
    width: 175px;
    left: 357px;
}

#p {
    width: 198px;
    left: 532px;
}

#x {
    width: 113px;
    left: 730px;
}

#w {
    width: 197px;
    left: 843px;
}

#r {
    width: 170px;
    left: 1040px;
}

#h a:hover {
    background: transparent url(ui2019/bg.png) 0 -48px no-repeat;
}

#b a:hover {
    background: transparent url(ui2019/bg.png) -166px -48px no-repeat;
}

#s a:hover {
    background: transparent url(ui2019/bg.png) -357px -48px no-repeat;
}

#p a:hover {
    background: transparent url(ui2019/bg.png) -532px -48px no-repeat;
}

#x a:hover {
    background: transparent url(ui2019/bg.png) -730px -48px no-repeat;
}

#w a:hover {
    background: transparent url(ui2019/bg.png) -843px -48px no-repeat;
}

#r a:hover {
    background: transparent url(ui2019/bg.png) -1040px -48px no-repeat;
}

body.html #h {
    background: transparent url(ui2019/bg.png) 0 -48px no-repeat;
}


/* ----------------------------------- navsecond ----------------------------------- */

div#navsecond {
    float: left;
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    width: 180px;
    background: transparent;
}

div#course {
    background: transparent url(ui2019/bg.png) 0 -800px no-repeat;
    padding: 66px 0 10px 0;
}

div#course {
    margin: 0;
    border: 0;
}

body#homesecond div#navsecond li {
    margin: 5px 0 0 0;
    padding: 0;
    font-family: '微软雅黑';
}

body#homesecond div#navsecond li {
    font-weight: bold;
}

div#navsecond li {
    list-style: none;
}

div#navsecond a {
    display: block;
    padding: 5px 0 5px 15px;
    font-size: 12px;
    border-bottom: 0px solid #ddd;
    text-decoration: none;
}

div#navsecond a:link,
div#navsecond a:visited {
    text-decoration: none;
    color: #000000;
    background: transparent;
}

div#navsecond a:hover {
    text-decoration: none;
    color: #fff;
    background: #aaa;
}

div#navsecond a:active {
    text-decoration: none;
    color: #fff;
    background: #BD2D30;
}


/* ----------------------------------- maincontent ----------------------------------- */

div#maincontent {
    float: left;
    margin: 0;
    padding: 30px 0 0 0;
    border: 0;
    width: 850px;
    background: transparent;
}

div#maincontent div {
    width: 810px;
    margin: 0 0 0 25px;
    padding: 30px 0 32px 0;
    border: 0;
    border-bottom: 1px solid #aaa;
}

div#maincontent h1,
div#maincontent h2 {
    font-family: '微软雅黑';
}

div#maincontent h1 {
    margin: 0 0 0 25px;
    font-size: 24px;
    font-weight: bold;
    color: #3f3f3f;
}

div#maincontent h2 {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

div#maincontent div#w3school p {
    margin-left: 15px;
}

div#maincontent p {
    margin: 15px 0 0 0;
    line-height: 150%;
}

div#maincontent div#foogz {
    width: 800px;
    height: 250px;
    padding: 0;
}

div#foogz a#foogz_link {
    display: block;
    width: 800px;
    height: 250px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    background: transparent url(time/20200407/footer.gif) 0 0 no-repeat;
}


/* ----------------------------------- sidebar ----------------------------------- */

div#sidebar {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    width: 180px;
    background: transparent;
}

div#tools {
    background: transparent url(ui2019/bg.png) -400px -800px no-repeat;
    padding: 66px 0 10px 0;
}

div#tools,
div#sp_sidebar {
    margin: 0;
    border: 0;
}

div#sidebar h2 {
    font-size: 14px;
    margin: 0;
    padding: 10px 0 5px 10px;
    color: #000;
    display: block;
    border-bottom: 0px solid #ddd;
    font-family: '微软雅黑';
}

div#sidebar ul,
div#sidebar li {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

div#sidebar li {
    list-style: none;
}

div#sidebar a {
    display: block;
    padding: 5px 0 5px 15px;
    font-size: 12px;
    border-bottom: 0px solid #ddd;
    text-decoration: none;
}

div#sidebar a:hover {
    text-decoration: none;
    color: #fff;
    background: #BD2D30;
}

div#sp_sidebar {
    background: transparent url(ui2019/bg.png) -600px -800px no-repeat;
    padding: 66px 0 10px 10px;
}

div#sp_sidebar div#sps_1 {
    width: 160px;
    height: 600px;
    padding: 0;
    margin: 0;
}

div#sps_1 a#sps_1_link {
    display: block;
    width: 160px;
    height: 600px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    background: transparent url(time/20200407/sidebar.png) 0 0 no-repeat;
}


/* ----------------------------------- footer ----------------------------------- */

div#footer {
    clear: both;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-left: 12px;
    width: 1210px;
    line-height: 24px;
    background: #f0f0f0;
    border-top: 0px solid #fff;
    background: #fdfcf8 url(ui2017/footer.png) top left repeat-x;
    font-family: PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
}

div#footer a {
    border-bottom: 1px solid;
    margin-left: 10px;
}

div#footer #p1,
div#footer #p2,
div#footer #p2 a {
    max-height: 0;
}

div#footer #p1 {
    font-size: 12px;
    color: #000;
    text-align: center;
    background-position: 235px 2px;
}

div#footer #p2 {
    margin: 55px 0 30px 0;
    font-size: 14px;
    text-align: center;
    color: #000;
}

div#footer a:link,
div#footer a:visited {
    text-decoration: none;
    color: #000;
    background: transparent;
}